/* General Reset */
html,
body {
  margin: 0;
  padding: 0;
}

/* Sidebar */
.sidebar {
  height: 100%;
  position: fixed;
  width: 250px;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
}

.sidebar.active {
  transform: translateX(0);
}

.sidebar ul {
  padding: 10px;
}

.sidebar .dropdown-content {
  display: none;
}

.sidebar .dropdown-content.show {
  display: block;
}

.video-container iframe {
  max-width: 100%;
  height: 500px;
}

.related-videos .related-video {
  cursor: pointer;
}

.related-videos .related-video iframe {
  max-width: 100%;
  height: 250px;
}
